.Socket {
  ul {
    list-style: none;
    margin: 3rem;
    padding-left: 0px;
  }

  li {
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    width: fit-content;
  }

  .received {
    text-align: left !important;
  }

  .sent {
    text-align: right !important;
    margin-left: auto;
  }
}